.flex-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-height: 500px;
    overflow-y: auto;
}

.shopping {
    color: #333;
}

/* .filter-items to handle form layout */
.filter-items {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure the form takes up full width of container */
    justify-content: center;
    max-width: 400px; /* Optional to limit width of the form */
    margin: 20px auto; /* Center the form on the page */
    gap: 15px; /* Space between form elements */
}

.filter-items label {
    font-weight: bold;
    margin-bottom: 5px; /* Space between label and input */
}

.filter-items select,
.filter-items input,
.filter-items button {
    padding: 10px;
    font-size: 1rem;
    width: 100%; /* Ensure full width */
}

/* 
the below would be used for displaying reviews in the drag and drop shopping component 
can be ignored for now
*/
.review {
    max-height: 300px !important;
}

