# Logs
cps630-app/logs
cps630-app/*.log
cps630-app/npm-debug.log*
cps630-app/yarn-debug.log*
cps630-app/yarn-error.log*
cps630-app/pnpm-debug.log*
cps630-app/lerna-debug.log*

cps630-app/node_modules
cps630-app/dist
dist-ssr
cps630-app/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
